body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

header {
    background-color: #203655;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.heroTextOne {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 400px;
}

.heroTextTwo {
    color: #bec0bc;
    width: 450px;
}

header .container {
    max-width: 1100px;
    margin: 0 auto;
}

.hero .container {
    max-width: 1100px;
    margin: 0 auto;
}

.information .container {
    max-width: 900px;
    margin: 0 auto;
}

.testimonial .container {
    max-width: 900px;
    margin: 0 auto;
}

.registration .container {
    max-width: 1100px;
    margin: 0 auto;
}

footer .container {
    max-width: 1100px;
    margin: 0 auto;
}

.flexOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.nav {
    display: flex;
    gap: 30px;
    color: #bec0bc;
}

.hero {
    height: 500px;
    background-color: #203655;
    display: flex;
    align-items: center;
}

.heroBox {
    display: flex;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.information {
    background-color: #929491;
    height: 500px;
}

.informationBox {
    display: flex;
    flex-direction: column;
}

.informationTopText {
    align-self: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 42px;
    font-weight: 800;
    color: #5d7398;
}

.imagesInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.imagesSubText {
    width: 200px;
    margin-top: 10px;
}

.information img {
    outline: 2px solid #203655;
    width: 200px;
    height: 150px;
}

.testimonial {
    height: 500px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

.testimonialText {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 30px;
}

.ratingUserName {
    text-align: end;
    font-weight: 800;
    margin-right: 30px;
}

.registration {
    height: 400px;
    color: #929491;
    background-color: #f0f8ff;
}

.registrationBox {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    background-color: #203655;
    border-radius: 10px;
    align-items: center;
}

.callToAction {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.imagesOne, .imagesTwo, .imagesThree, .imagesFour {
    text-align: center;
}

.buttonOne {
    border-radius: 5px;
    border-style: none;
    background-color: #3882f6;
    height: 25px;
    color: white;
}

.buttonTwo {
    border-radius: 5px;
    border-style: none;
    background-color: #203655;
    outline: 2px solid white;
    color: white;
    height: 30px;
}

footer {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #203655;
    color: white;
}

button {
    width: 100px;
}

img {
    border-radius: 10px;
}

